* {
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    width: 100%;
    text-align: start;
    margin: 0;
    background-image: url(../../asset/images/slider0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10px;
    background-position: center;
}

.about {
    margin: 5px;
}

.footer {
    flex: 0 0 auto;
}

.header {
    flex: 0 0 auto;
}